@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body {
	background-color:khaki;

},

input {
	height: 30px;
},


select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.button {
	display: flex;
	background-color: yellowgreen;
	border: 4px solid black;
	color: blue;
	padding: 5px;
	margin-top: 10px;
	text-align: center;	
	font-size: 24px;

}

.field {
	display: flex;
	flex-direction: column;
	margin: 0 0 1rem;
	padding: 4px;
 }

 .label {
	font-size: 19px;
 }